

  <body>
    <p id="notice"></p>

    <h1>Books</h1>

    <table>
      <thead>
       <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
       </tr>
      </thead>

      <tbody>
       <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_250746" href="/books/250746">Show</a></td>
        <td><a class="edit_250746" href="/books/250746/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250746" rel="nofollow" data-method="delete" href="/books/250746">Destroy</a></td>
       </tr>
       <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_250747" href="/books/250747">Show</a></td>
        <td><a class="edit_250747" href="/books/250747/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250747" rel="nofollow" data-method="delete" href="/books/250747">Destroy</a></td>
       </tr>
       <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_250748" href="/books/250748">Show</a></td>
        <td><a class="edit_250748" href="/books/250748/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250748" rel="nofollow" data-method="delete" href="/books/250748">Destroy</a></td>
       </tr>
       <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_250749" href="/books/250749">Show</a></td>
        <td><a class="edit_250749" href="/books/250749/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250749" rel="nofollow" data-method="delete" href="/books/250749">Destroy</a></td>
       </tr>
       <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_250750" href="/books/250750">Show</a></td>
        <td><a class="edit_250750" href="/books/250750/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250750" rel="nofollow" data-method="delete" href="/books/250750">Destroy</a></td>
       </tr>
       <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_250751" href="/books/250751">Show</a></td>
        <td><a class="edit_250751" href="/books/250751/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250751" rel="nofollow" data-method="delete" href="/books/250751">Destroy</a></td>
       </tr>
       <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_250752" href="/books/250752">Show</a></td>
        <td><a class="edit_250752" href="/books/250752/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_250752" rel="nofollow" data-method="delete" href="/books/250752">Destroy</a></td>
       </tr>
      </tbody>
    </table>


    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="TepX2/9yTa2hKTk2zrBrJIJoMe87SPFMVM+KLDLb6BukvD1WjSLjMf5srBFPtwiFhJKQ/qJWmQQxdjfqqfMfvg==">

      <div class="field">
       <p>
        <label for="book_title">Title</label>
       </p>
       <p>
        <input class="book_title" type="text" name="book[title]" id="book_title">
       </p>
      </div>

      <div class="field">
        <p>
         <label for="book_body">Body</label>
        </p>
        <p>
         <textarea class="book_body" name="book[body]" id="book_body"></textarea>
        </p>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
  </body>
</html>