<!--投稿詳細画面-->

<!--投稿詳細ページ-->

<%= notice %>

<%= form_with model:@book, local:true do |f| %>

  <p id="notice">Book was successfully created.</p>

  <h4>Title:</h4><%= :title %>

  <h4>Body:</h4><%= :body %>

<% end %>

<a class="edit_id" href="/books/id/edit">Edit</a>
"|"
<a class="back" href="/books">Back</a>
